{{/* Author[0]/Author[0] - [Series SeriesIndex] - Title [LANG].epub */ -}}
{{if .Authors}}{{index .Authors 0 | sanitizeFilename}}{{sep}}{{else}}unknown{{sep}}{{end -}}
{{template "fullname.gotmpl" . -}}
